.navigation {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .logo-container {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .links-container {
    display: flex;
    align-items: center;
    height: 100%;

    .nav-link {
      padding: 0 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}
